
body{
    /* background-image: url("../../Images/image1.png"); */
    
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    
}
/* transparent */
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.nav a{
  
    /* text-decoration-color: aliceblue;
    background-color: azure; */
    padding: 20px;
    font-style:italic;
    font-weight: bold;
    font-size: 150%;
    line-height: 20px;
    color:#FF6F00
    
}
nav img{
    width: 150px;
    height: 60px;
}
.signin{
margin-left: 12em;
}

.image{
 
    height: 100%;
    width:100%;
    margin:7rem 1rem 2rem 3rem;
  
    /* padding: 2rem 1rem 2rem 1rem; */
    
 
}
.view{
    border-radius: 5px 30px 5px;
    box-shadow: 9px 8px 6px -8px#838586;
}
/* .image img{
    background-color: darkseagreen;
    border-radius: 8px 40px 8px;
    box-shadow: 9px 10px 8px -2px#838586;
} */
.image h2{
    padding: 0rem;
   color: brown;
    font-style:italic;
    font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.image p{
    color: #B9F6CA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
}
.videos{
    margin-top: 2rem;
   
}
.videos video{
    border-radius: 5px 30px 5px;
    box-shadow: 9px 8px 6px -3px#838586;
    margin-right: 0px;
}
.vdo{
    margin-top: 20px;
}