
body{
    background-color: #E8EAF6;
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    background-color: rgb(14, 187, 187);
    color-adjust:inherit;
}
.nav{
  
    /* text-decoration-color: aliceblue;
    background-color: azure; */
    font-style:italic;
    font-weight: bold;
    font-size: 150%;
    line-height: 20px;
    
   
    
    
}
.navdrop{
    text-decoration-color: aliceblue;
    background-color: rgb(35, 204, 204);
    font-style:italic;
    font-weight: bold;
    font-size: 130%;
    text-decoration: darkseagreen;
}
.image{
    height: 100%;
    width:100%;
    margin:2rem 1rem 2rem 1rem;
    padding: 2rem 1rem 2rem 1rem;
    
 
}
.image img{
    background-color: darkseagreen;
    border-radius: 8px 40px 8px;
    box-shadow: 9px 10px 8px -2px#838586;
}
.image h2{
    padding: 0rem;
   color: brown;
    font-style:italic;
    font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.image p{
    color: #B9F6CA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
}
.videos{
    margin-top: 65px;
   
}
.videos video{
    border-radius: 5px 30px 5px;
    box-shadow: 9px 8px 6px -3px#838586;
    margin-right: 0px;
}
.vdo{
    margin-top: 30px;
}